* {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.nav_menu {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 72px;
}
.left {
    /* align-self: left; */
    display: flex;
    align-items: center;
}
.center {
    /* align-self: center; */
    width: 100%;
    display: flex;
    align-items: center;
}
#search-input {
    height: 36px;
    width: 90%;
}
#search-btn {
    height: 36px;
    padding: 10px 20px 10px 20px;
    width: 72px;
    border: #cccccc 1px solid;
    border-left: none;
    background: #f8f8f8;
}
.right {
    /* align-self: flex-end; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}   
img {
    height: auto;
    width: 24px;
    margin-right: 20px;
}
#youtube-logo {
    width: 64px;
    height: auto;
    align-self: flex-start;
}
.sign-in-btn {
    text-decoration: none;
    padding: 5px 10px;
    background: blue;
    color: #fff;
    width: 84px;
    margin-right: 20px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    background-color: #f0f0f0;
    width: 100%;
}

section {
    margin: 20px 20px 0px 20px;
}

section > div {
    padding: 20px 0px 20px 0px;
}

aside {
    margin: 20px 20px 0px 20px;
    padding-left: 20px;
}

.related_video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.related_video > div {
    margin-left: 20px;
}

.related_video > div > p {
    margin-right: 20px;
}

p {
    padding-top: 5px;
}

.rating {

    margin-top: 20px 20px 0px 0px;
    /* border-bottom: 1px #cccccc solid; */

    
}


.description {
    border-bottom: 1px #cccccc solid;
    display: flex;
    justify-content: space-evenly;
}

.description > div {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.description > div > p {

    padding-bottom: 20px;

}
.comments {
    width: 100%;
}
.comments > .comment-items {
    float: left;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}


a {
    padding-top: 20px;
    text-decoration: none;
}

button {
    background-color:#ff0000;
    width: 100px;
    height: 32px    ;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.comment-detail, .status {
    display: flex;
    flex-direction: row;
}
.status {
    justify-content: flex-start;
}
.comment-text > p {
    padding: 10px 5px;
}

.upnext {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.autoplay {
    display: flex;
    width: fit-content;
    padding-top: 20px;
    margin-right: 20px;

}

.autoplay > h6 {
    padding: 10px;
}
.video-specific-details {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.views {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #c0c0c0;
    text-transform: uppercase;
}
.views > span {
    font-size: 16px;
}
.channel-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    padding: 0;
    margin: 0;
}
#profile {
    width: 100px;
    height: 100px;
    margin: 0 !important;
}
.channel-actions {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-top: 10px;
}
.channel-actions {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
}
.subscribers {
    text-align: center;
    background-color: #f8f8f8;

}
.video-title {
    padding-bottom: 1;
}
.video-actions {
    display: flex;
    justify-content: space-between;
    padding: 25px 5px;
    border-top: 2px #ccc solid;
    margin-bottom: 5px;
    background: white;
}
.share {
    text-align: left;
}
.sentiments {
    text-align: right;
}
hr {
    margin: 10px 0px 10px 0px;
}

.current-video-description {
    
    margin-top: 20px;
    background: white;
    padding: 10px;
}

.current-video-description-show-more {
   text-align: center;
}

.current-video-description-show-more > a {
    text-transform: uppercase;
    color: gray;
}