* {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    margin: 20px 20px 0px 20px;
}
.nav_menu {
    display: flex;
    justify-content: space-between;
}
.left {
    align-self: left;
}
.center {
    align-self: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.center > img {
    background: lightgray;
    /* width: 10%; */
}
.right {
    align-self: flex-end;
    margin-left: 60px;
}   
img {
    height: 32px;
    width: auto;
    margin-right: 20px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    background-color: #f0f0f0;
    width: 100%;
}

section {
    margin: 20px 20px 0px 20px;
}

section > div {
    padding: 20px 0px 20px 0px;
}

aside {
    margin: 20px 20px 0px 20px;
    padding-left: 20px;
}

.related_video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.related_video > div {
    margin-left: 20px;
}

p {
    padding-top: 5px;
}

.rating {

    margin-top: 20px 20px 0px 0px;

    border-bottom: 1px #cccccc solid;

    
}


.description {
    border-bottom: 1px #cccccc solid;
    display: flex;
    justify-content: space-evenly;
}

.description > div {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.description > div > p {

    padding-bottom: 20px;

}
.comments {
    width: 100%;
}
.comments > .comment-items {
    float: left;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}


a {
    padding-top: 20px;
}

button {
    background-color:#ff0000;
    width: 100px;
    height: 32px    ;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.comment-detail, .status {
    display: flex;
    flex-direction: row;
}
.status {
    justify-content: flex-start;
}
.comment-text > p {
    padding: 10px 5px;
}